################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExcelWeb/ExcelWeb/obj
/ExcelWeb/ExcelWeb.sln
/ExcelWeb/.vs/ExcelWeb/v16
/.vs
/ExcelWeb/.vs/ExcelWeb/config
/ExcelWeb/ExcelWeb/bin/Debug/netcoreapp3.1
